*.dproj.local
*.groupproj.local
*.identcache
*.dcu
*.stat
**/__history
**/__recovery
doc/docoutput/*
**/backup

packages/lazarus/lib/*
Win32/*
Win64/*
Android/*
iOSDevice32/*
iOSDevice64/*
iOSSimulator/*
